.react-modal-overlay {
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content {
  position: relative;
  margin:  0 1.5rem;
}

